{% extends "base.html" %}


{% block title %}
<title>TheBaton - {{ editorial_post.title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/editorialpost.css') }}">
{% set title = editorial_post.title %}
{% set sub_title = editorial_post.sub_title %}

{% endblock %}

{% block content %}

<section class="article-dual-column" style="font-family: Montserrat, sans-serif;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="intro">
                    <h1 class="text-center"><strong>{{ editorial_post.title }}</strong><br></h1>
                    <h4 class="text-center" style="font-size: 19px;"><em>{{ editorial_post.sub_title }}</em><br></h4>
                    <p class="text-center"><span class="by">by</span> <a href="#">{{ editorial_post.author.name }}</a><span class="date">{{ editorial_post.date_posted.strftime('%d %B %Y') }} </span></p>
                    <div class="text-center"><img class="img-fluid" src="{{ editorial_post.cover_image }}"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-3 offset-md-1">
                <div class="toc">
                    <p>Table of Contents</p>
                    <ul>
                    {% for items in toc %}
                        
                        <li>{{ items[0] }}</li>
                        {% if len(items) > 1 %}
                            {% for i in range(1, len(items)) %}
                            <ul><li>{{ items[i] }}</li></ul>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                {% if editorial_post.keywords %}
                <div class="toc">
                    <p>Keywords</p><span><em>{{ editorial_post.keywords }}</em></span>
                </div>
                {% endif %}
            </div>
            <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                <div class="text">
                    {% block editorialpost %}
                    {% endblock editorialpost %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}