{% extends "base.html" %}


{% block title %}
<title>TheBaton - Sorry</title>
<link rel="stylesheet" href="static/css/error_page.css">

{% endblock %}
{% block content %}
    <!-- Start: Highlight Clean -->
    <section class="highlight-clean">
        <div class="container">
            <!-- Start: Intro -->
            <div class="intro">
                <h2 class="text-center">Highlight</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
                <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus corporis cumque fugit, quibusdam incidunt eligendi. </p>
            </div><!-- End: Intro -->
            <!-- Start: Buttons -->
            <div class="buttons"><a class="btn btn-primary" role="button" href="#">Primary</a><button class="btn btn-light" type="button">Secondary</button></div><!-- End: Buttons -->
        </div>
    </section><!-- End: Highlight Clean -->
{% endblock %}