{% extends "base.html" %}


{% block title %}
<title>TheBaton - Podcasts</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/Highlight-Blue.css') }}">

{% endblock %}


{% block content %}
<section class="highlight-blue">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Coming Soon</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <div class="buttons"><a class="btn btn-primary" role="button" href="#">Home</a></div>
    </div>
</section>
{% endblock %}